{% if messages %}
  <div class="messages">
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="alert alert-error" role="alert">
          {% include "components/icons/alert.html" %}
          <p>{{ message }}</p>
        </div>
      {% elif message.tags == 'success' %}
        <div class="alert alert-success" role="status">
          {% include "components/icons/success.html" %}
          <p>{{ message }}</p>
        </div>
      {% elif message.tags == 'warning' %}
        <div class="alert alert-warning" role="alert">
          {% include "components/icons/alert.html" %}
          <p>{{ message }}</p>
        </div>
      {% else %}
        <div class="alert alert-info" role="status">
          {% include "components/icons/alert.html" %}
          <p>{{ message }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
